body {
  background-color: #282828;
  padding: 20px;
}

#button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  align-content: center; /* Center items vertically */
  width: 100%; /* Ensure the container fills its parent */
  height: 100%; /* Ensure the container fills its parent */
  gap: 20px; /* Space between buttons */
}

.button {
  border-radius: 50%;
  /* 6 across */
  width: calc(100% / 6 - 20px); /* 6 buttons per row */
  background-color: #1d2021;
  color: #ebdbb2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative; /* Positioning context for pseudo-element */
  overflow: hidden; /* Keep pseudo-element inside the button */
  box-shadow: rgba(12, 13, 13, 0.4) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.1) -3px -3px 6px 1px inset;
}

.button::before {
  content: "";
  display: block;
  padding-top: 100%; /* This creates a square aspect ratio */
}

.on {
  background-color: #4caf50;
}

.unavailable {
  background-color: #a0a0a0;
  cursor: not-allowed;
}
